<h1>Editing Curator Of Exhibition</h1>

<%= render 'form', curator_of_exhibition: @curator_of_exhibition %>

<%= link_to 'Show', @curator_of_exhibition %> |
<%= link_to 'Back', curator_of_exhibitions_path %>
