@font-face {
  font-family: ProximaNova;
  src: url(fonts/proxima_nova_regular.woff);
  font-weight: normal;
}
@font-face {
  font-family: ProximaNova;
  src: url(fonts/proxima_nova_bold.woff);
  font-weight: bold;
}
@font-face {
  font-family: ProximaNova;
  src: url(fonts/proxima_nova_light.woff);
  font-weight: light;
}
